log/*
resource/temporary/*
resource/permanent/*
upload/*
birthmark/temporary/*
birthmark/permanent/*

!log/.gitkeep
!resource/temporary/.gitkeep
!resource/permanent/.gitkeep
!upload/.gitkeep
!birthmark/temporary/.gitkeep
!birthmark/permanent/.gitkeep

!birthmark/kmeans/dataset.txt
!birthmark/kmeans/kmeans.txt