log/*
resource/temporary/*
resource/permanent/*
upload/*
apk/temporary/*
apk/permanent/*
birthmark/temporary/*
birthmark/permanent/*

!log/.gitkeep
!resource/temporary/.gitkeep
!resource/permanent/.gitkeep
!upload/.gitkeep
!apk/temporary/.gitkeep
!apk/permanent/.gitkeep
!birthmark/temporary/.gitkeep
!birthmark/permanent/.gitkeep

